@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, rgb(98, 178, 227),aqua);

    
}
.inner-box{
    width: 400px;
    margin: auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    backdrop-filter: blur(8px);
     padding: 20px 40px;
          
    background: linear-gradient(to top label,#ffffffff,#ffffff33);  
   
    backdrop-filter:blur(8px);
    box-shadow:2px 2px 2px #2773a5;
    border-radius: 10px; 
    z-index: 2;
    border: 2px,solid,#ccc;



}
.signup-header  h1{
    font-size: 2.5rem;
    color:rgb(24, 1, 1);

}
.signup-header p{
    color: blue;
    font-size: 0.9rem;
}
.signup-body{
    margin: 30px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px,solid,#cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input [type="submit"]{
    background-color: #072f4a;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input [type="submit"]:hover{
    background-color: #0c5c92;
    
}
.signup-footer p{
    color:blue;
    text-align: center;
}
.signup-footer a{
    color: #060360;

}
.circle {
    width:200px;
    height:200px;
    border-radius: 100px;
    background: linear-gradient(to top right, rgb(174, 155, 155),#ffffffff);
    position: absolute;


}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 150px;
    right: 50px;
}



